<div class="ddl">
  <div class="form-group">
    <div class="dropdown" [class.show]="dropdownOpen">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        (click)="toggleDropdown()"
        aria-expanded="dropdownOpen"
      >
        {{ displaySelectedVals() }}
      </button>
      <div class="dropdown-menu" [class.show]="dropdownOpen">
        <div class="input-group my-3">
          <input
            *ngIf="ddlconfigOptions.isSearchable"
            type="text"
            class="form-control"
            placeholder="Search"
          />
          <span
            *ngIf="ddlconfigOptions.isResettable"
            class="input-group-text text-success"
            ><i class="bi bi-arrow-clockwise"></i
          ></span>
        </div>

        <div *ngIf="options && options.length">
          <!-- For string array options -->
           <ng-container *ngIf="isStringArray(options)">
          <div  class="form-check my-2" *ngFor="let option of options">
            <input 
              type="checkbox"
              class="form-check-input"
              [checked]="isSelected(option)"
              (change)="selectValues(option)"
            />
            <label class="form-check-label">{{ option }}</label>
          </div>
        </ng-container>
          <!-- For Iitems array options -->
           <ng-container *ngIf="!isStringArray(options)">
            <div  class="form-check my-2" *ngFor="let option of options">
              <input 
                type="checkbox"
                class="form-check-input"
                [checked]="isSelected(option)"
                (change)="selectValues(option)"
              />
              <label class="form-check-label">{{ getItemName(option)}}</label>
            </div>
           </ng-container>
        
        </div>
 
   
      </div>
    </div>
  </div>
</div>
