<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 p-5">
      <app-drop-down-list></app-drop-down-list>
    </div>
    <div class="col-md-6 p-5">
      <app-multi-select></app-multi-select>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row" [formGroup]="formGroupName">
    <div class="col-md-9" *ngFor="let ddl of DDLsOptions">
      <app-reusable-ddl
        [inputType]="inputType"
        (selectionEvent)="getSelectedData($event)"
        [ddlOptions]="ddl"
        [loading]="loading"
        #dropList
        [formControlName]="ddl.ddlconfigOptions.name || ''"
      ></app-reusable-ddl>
    </div>
  </div>
  
</div>
y