<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 p-5">
      <app-drop-down-list></app-drop-down-list>
    </div>
    <div class="col-md-6 p-5">
      <app-multi-select></app-multi-select>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <app-reusable-ddl
      [inputType]="inputType"
      (selectionEvent)="getSelectedData($event)"
      [ddlconfigOptions]="ddlconfig"
      [loading]="loading"
      [options]="options"
    #dropList
    ></app-reusable-ddl>
    </div>

    <div class="col-md-3 my-4">
      <button class="btn btn-outline-success" #buttonSelect (click)="selectVal()"> Select </button>
    </div>
  </div>

</div>
